body {
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Inconsolata", sans-serif;


}

.movie:hover
{
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        transition-duration: 500ms;
}

.movie-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  font-style: normal;

}

.movie > img {
  height: 300px;
  width: 280px;
}
.title_style {
  color: rgb(20, 20, 136);
}

.search {
  background-color: rgb(83, 81, 172);
  color: aliceblue;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.timg{
  max-width: 30%;
  max-height: 30%;
  border-radius: 100%;
  
}

/* +++++++++++++++++++++++++++Background Animation++++++++++++++++++++++++ */

body{
	margin:0;
	padding:0;
	font-family:"arial",heletica,sans-serif;
	font-size:12px;
    background: #2980b9 url('https://static.tumblr.com/03fbbc566b081016810402488936fbae/pqpk3dn/MRSmlzpj3/tumblr_static_bg3.png') repeat 0 0;
	-webkit-animation: 10s linear 0s normal none infinite animate;
	-moz-animation: 10s linear 0s normal none infinite animate;
	-ms-animation: 10s linear 0s normal none infinite animate;
	-o-animation: 10s linear 0s normal none infinite animate;
	animation: 10s linear 0s normal none infinite animate;
 
}
 
@-webkit-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-moz-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-ms-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-o-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}

